<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title th:text="#{general.title}">HR manager</title>
    <link rel="stylesheet"
          href="../../resources/static/css/font-awesome.min.css"
          th:href="@{/resources/static/css/font-awesome.min.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/bootstrap.css"
          th:href="@{/resources/static/css/bootstrap.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/style.css"
          th:href="@{/resources/static/css/style.css}">
</head>
<body>


<nav class=" p-0 pl-2 navbar navbar-expand-sm navbar-dark bg-dark text-light">
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarsNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a href="departments.html"
       th:href="@{/departments}"
       class="navbar-brand">
        <img src="../../resources/static/img/logo.svg"
             th:src="@{/resources/static/img/logo.svg}" width="64" height="32"></a>
    <div class="collapse navbar-collapse" id="navbarsNav">
        <div class="navbar-nav">
            <a class="nav-item nav-link"
               href="departments.html"
               th:href="@{/departments}"
               th:text="#{general.departments}">Departments <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link"
               href="employees.html"
               th:href="@{/employees}"
               th:text="#{general.employees}">Employees</a>
        </div>
    </div>
</nav>

<header>
    <nav class="mb-2 navbar navbar-expand-sm navbar-light bg-light text-dark">
        <a href="employees.html"
           th:href="@{/employees}"
           class="small"
           data-toggle="tooltip"
           data-placement="bottom"
           title="Go back"
           th:title="#{general.tooltipGoBack}"><i class="fa fa-arrow-left text-dark"> </i></a>
        <span class="navbar-brand text-uppercase mr-auto">
            <div th:if="${isEdit} == true" th:text="'&nbsp;'+#{employee.edit}">&nbsp;Edit employee</div>
            <div th:if="${isEdit} == false" th:text="'&nbsp;'+#{employee.add}"></div>
            <!--th:text="'&nbsp;'+${navbarBrandText}">-->
        </span>

        <ul class="navbar-nav float-right">
            <li class="nav-item">
                <a href="employees.html"
                   th:href="@{/employee}"
                   th:onclick="@{document.forms['employeeForm'].submit(); return false;}"

                   class="btn btn-light"
                   data-toggle="tooltip"
                   data-placement="bottom"
                   title="Save employee"
                   th:title="#{general.save}">
                    <i class="fa fa-save"></i><span class="d-none d-sm-inline"
                                                    th:text="#{general.save}"> Save</span></a>
            </li>
        </ul>
    </nav>

</header>


<section id="employee">

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <form id="employeeForm"
                              th:object="${employee}"
                              action="employees.html"
                              th:action="@{${#httpServletRequest.servletPath}}"
                              th:method="@{post}">
                            <div class="form-group">

                                <label class="d-none d-sm-inline"
                                       th:text="#{department.depName}">Department Name</label>
                                <div>
                                    <select th:field="${employee.departmentId}">
                                        <option th:each="department : ${departments}"
                                                th:value="${department.departmentId}"
                                                th:text="${department.departmentName}">Wireframe
                                        </option>
                                    </select>
                                </div>
                                <div>
                                    <label class="d-none d-sm-inline text-danger"
                                           for="employeeInputMail"
                                           th:if="${#fields.hasErrors('departmentId')}"
                                           th:errors="*{departmentId}">error</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <input id="field_employeeId"
                                       name=""
                                       type="hidden"
                                       th:field="${employee.employeeId}"/>
                                <label class="d-none d-sm-inline"
                                       for="employeeInputName"
                                       th:text="#{employee.empName}">Employee Name</label>
                                <input type="text"
                                       class="form-control"
                                       id="employeeInputName"
                                       value="Ivan Ivanov"
                                       placeholder="Add name"
                                       th:field="${employee.employeeName}"/>
                                <label class="d-none d-sm-inline text-danger"
                                       for="employeeInputName"
                                       th:if="${#fields.hasErrors('employeeName')}"
                                       th:errors="*{employeeName}">error</label>
                            </div>
                            <div class="form-group">
                                <label class="d-none d-sm-inline"
                                       for="employeeInputMail"
                                       th:text="#{employee.empEMail}">Employee EMail</label>
                                <input type="email"
                                       class="form-control"
                                       id="employeeInputMail"
                                       value="Ivan Ivanov@gmail.com"
                                       placeholder="Add email"
                                       th:field="${employee.employeeEmail}"/>
                                <label class="d-none d-sm-inline text-danger"
                                       for="employeeInputMail"
                                       th:if="${#fields.hasErrors('employeeEmail')}"
                                       th:errors="*{employeeEmail}">error</label>
                            </div>
                            <div class="form-group">
                                <label class="d-none d-sm-inline"
                                       for="employeeInputSalary"
                                       th:text="#{employee.empSalary}">Employee salary</label>
                                <input type="text"
                                       class="form-control"
                                       id="employeeInputSalary"
                                       value="1000"
                                       placeholder="Add salary"
                                       th:field="${employee.salary}">
                                <label class="d-none d-sm-inline text-danger"
                                       for="employeeInputSalary"
                                       th:if="${#fields.hasErrors('salary')}"
                                       th:errors="*{salary}">error</label>
                                <!--th:value="${navbarBrandText.equals('Edit employee')} ? ${employee.salary}">-->
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<script src="../../resources/static/js/jquery.min.js"
        th:src="@{/resources/static/js/jquery.min.js}"></script>
<script src="../../resources/static/js/popper.min.js"
        th:src="@{/resources/static/js/popper.min.js}"></script>
<script src="../../resources/static/js/bootstrap.min.js"
        th:src="@{/resources/static/js/bootstrap.min.js}"></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
</body>
</html>
